<script type="text/javascript">
$(document).ready(function(){
	//if(mw.id == 1){
		audio_player.addPlayer('audios', {
			play_but: '#player_play',
			prev_but: '#player_prev',
			next_but: '#player_next',
			name: '#teck_track_name',
			progress: '#player_progress_play_bar',
			load_line: '#player_progress_load_bar',
			progress_wrap: '#player_progreebar',
			volume_wrap: '#player_volume_bar',
			volume_line: '#player_volume_bar_value',
			mute_but: '#volOff_1',
			unmute_but: '#volMax_1',
			repeat_but: '#volrefresh_1',
			random_but: '#rand_1',
			time: '#play_time'
		});
	//}else music.jPlayerInc();

	var player_fix = false;
	$(window).scroll(function(){
		var st = $(window).scrollTop();
		if(!player_fix){
			if(st > 79){
				$('.player_container').css('position', 'fixed').css('margin-top', '-98px').css('width', '700px');
				$('.player_shadow').show();
				player_fix = true;
			}
		}else{
			if(st <= 80){
				$('.player_container').css('position', 'static').css('margin-top', '-14px').css('width', '700px');
				$('.player_shadow').hide();
				player_fix = false;
			}
		}
		if($(document).height() - $(window).height() <= st+($(document).height()/2)){
			audio.page();
		}
	});
});
</script>
<input type="hidden" id="uid" value="{user-id}">
<input type="hidden" id="page_cnt" value="20">
<div style="margin-top:-9px">  
<img id="search_loading" style="padding-top: 10px; padding-right: 20px;float: right;display:none" src="/images/loading_mini.gif" alt="">   
 <div class="buttonsprofile albumsbuttonsprofile buttonsprofileSecond" style="height:22px">
  <div class="buttonsprofileSec"><a href="/audio{user-id}" onClick="Page.Go(this.href); return false;"><div><b>Все аудиозаписи</b></div></a></div>
    <a href="/audio{user-id}" onClick="audio.addBox(); return false;"><div><b>Добавить аудиозапись</b></div></a>
	<a href="/u{user-id}" onclick="Page.Go(this.href); return false;"><div><b>К моей странице</b></div></a>
<div class="clear"></div></div></div>


<br>


<div class="margin_top_10" style="margin-top:15px"></div>
<div style="height:60px;position:relative;">
<div id="jquery_jplayer"></div>
<div class="player_container" id="player_container">
 <div class="player_ic fl_l" id="player_prev">
  <div class="player_ic_prev"></div>
 </div>
 <div class="player_ic fl_l" id="player_play">
  <div class="player_ic_play"></div>
 </div>
 <div class="player_ic fl_l" id="player_next">
  <div class="player_ic_next"></div>
 </div>
 <div class="player_track_name fl_l" id="teck_track_name">&nbsp;</div>
 <div class="player_time_text fl_l"><span id="play_time">00:00</span></div><div>&nbsp;</div>
 <div class="player_progreebar fl_l" id="player_progreebar">
  <div id="player_progress_load_bar"></div>
  <div id="player_progress_play_bar"></div>
 </div> 
 <div class="player_del_volume fl_l cursor_pointer" onmouseover="myhtml.title('1', 'Отключить звук', 'volOff_', -1)" id="volOff_1"></div>
 <div class="player_progreebar fl_l cursor_pointer" style="width:50px" id="player_volume_bar">
  <div id="player_volume_bar_value" style="width: 100%;"></div>
 </div>
 <div class="player_max_volume fl_l cursor_pointer active" onmouseover="myhtml.title('1', 'Громкость на 100%', 'volMax_', -3)" id="volMax_1"></div>
 <div class="player_refresh fl_l cursor_pointer" onmouseover="myhtml.title('1', 'Повторять эту песню', 'volrefresh_', -1)" id="volrefresh_1"></div>
 <div class="player_rand fl_l cursor_pointer" onmouseover="myhtml.title('1', 'Случайный порядок', 'rand_', -1)" id="rand_1"></div>
 <div class="clear"></div>
</div>
</div>


<div class="public_wall_photos_shadow fixed player_shadow no_display"></div>

<style>
.cont_border_left {
    background-color: #fff;
    border-radius: 3px;
    margin-top: 26px;
    min-height: 215px;
}
</style>
